<div class="container px-5 px-sm-0">
  <% if @books.errors.any? %>
  <h3><%= @books.errors.count %>errors prohibited this obj from being saved:</h3>
  <ul>
    <% @books.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="row">
  <%= render 'info', books: @books %>
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
     <tbody>
      <tr>
        <td>
          <%= image_tag @book.user.get_profile_image(100,100) %></br >
          <%= link_to @book.user.name, user_path(@user) %>
          <!--ここをどうするか質問すべきかも.ログインしているユーザーの画像になってしまう。-->
        </td>
        <td>
          <%= link_to @book.title, book_path %>
        </td>
        <td>
          <%= @book.body %>
        </td>

        <td>
          <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book), :class => "btn btn-success btn-sm" %>
          <% end %>
        </td>

        <td>
          <% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, :class => "btn btn-danger btn-sm", "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>